<div id="user_individual">	
	<div class="user_profile">	
		<% if logged_in? %>
			<%= link_to image_tag(url_for_avatar(current_user, 50)), 
				user_path(current_user.login_id), alt: "Profile", title: "Profile" %>			
		<% else %>
			<%= link_to "", login_path, alt: "Log in", title: "Log in" %>			
		<% end %>
				
	</div>
	
	
	<% div_name = div_for_side_panes %>
	<%= content_tag(:div, class: div_name ) do %>
		<%#= link_to "Favorites", favorites_show_path, class: "title_text" %>
		<%#= link_to_if logged_in?, image_tag("favorites.png", alt: "Favorites", title: "Favorites"), 
			favorites_show_path %>
		<div class="favorites_board">			
			<%= link_to_if logged_in?, "", 
				favorites_show_path, alt: "Favorites", title: "Favorites" %>			
		</div>			
	<% end %>
	
	<%= content_tag(:div, class: div_name ) do %>
		<div class="diary_board">			
			<%= link_to_if logged_in?, "", 
				generate_log_path_with_date, alt: "Diary", title: "Diary" %>			
		</div>						
	<% end %>
</div>