<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title).empty? ? "OnTrailAgain" : yield(:title) %></title>	
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
		
<%= render partial: 'layouts/individual_pane' %>

<%= render partial: 'layouts/community_pane' %>

<div id="user_dynamic" role="main">
	<div class = "hidden" id = "last_loaded"><%= Time.zone.now %></div>
	<%= render partial: 'layouts/header' %>
	<div id="user_display">
		<div id="flash_messages">
			<%= render 'shared/flash_messages', { flash: flash } %>
		</div>
		<%= yield %>		
	</div>
	<%= render partial: 'layouts/footer' %>	
</div>

</body>
</html>
